/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}


#search-results{

	
	.flex-title{
		margin-top:2%;
		h1{
			font-size: 2em;
		}
		h2{
			padding:1%;
			font-size: 1.5em;
			color:goldenrod;
		}
		display: flex;
		flex-direction: row;
	}

	.custResultBox{
		width:90%;
		margin:2%;
		padding:2%;
		border: 1px solid black;
		display: flex;
		flex-direction: column;


		.resultTitle{
			font-weight: bold;
			margin:1%;
			font-size:1.2em;
		}

		.custResult{
			margin:1%;
			font-size:1.1em;

		}
	}
}

/* 2. Content ================================= */

